{% extends 'base.html' %}

{% import 'macros.html' as macro%}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <!--Sidenav-->
        <div class="col-xs-12 col-md-3">
            <div class="jumbotron jumbotron1">
                <div class="row border-b">
                    <div class="col-xs-12 brand">
                        <a href="/">
                            <h1>On the Blog.</h1>                    
                        </a>
                        <h4 class="text-right">- a coder's blog</h4>
                    </div>
                </div>                
                <div class="row">
                    <div class="col-xs-12">
                        <p><a href="/">Home</a></p>
                        <hr>
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <p>Categories</p>
                            </div>                            
                            <div class="col-xs-12">
                                <div class="row lists">
                                    <div class="col-xs-2"></div>
                                    <div class="col-xs-10">
                                        <p><a href="#">Frontend</a></p>
                                        <p><a href="#">Backend</a></p>
                                        <p><a href="#">FullStack</a></p>
                                        <p><a href="#">Mobile</a></p>
                                        <p><a href="#">DevOps</a></p>                                         
                                    </div>
                                </div>
                            </div>
                        </div>                                               
                        <hr>
                    </div>
                    <div class="col-xs-12">
                        <p><a href="/">Author</a></p>
                        <hr>
                    </div>
                    <div class="col-xs-12">
                        <p><a href="/">Subscribe</a></p>
                        <hr>
                    </div>
                    <div class="col-xs-12">
                        <p><a href="/">Contact</a></p>
                        <hr>
                    </div>                                
                </div>
            </div>
        </div>

         <!--Content section-->
         <div class="col-xs-12 col-md-6">
            <div class="jumbotron jumbotron2">                
                <div class="row display-flex">
                    <div class="col-xs-12 border-b">
                        <h2 class="pitch-head">Posts</h2>
                    </div>

                    <!--Blogs here-->

                </div>
            </div>
        </div>

        <!--right column section-->
        <div class="col-xs-12 col-md-3">
            <div class="jumbotron jumbotron3">
                <h3>Admin</h3>
                <a href="{{url_for('auth.login')}}"><button class="btn btn-primary">Sign in</button></a>
            </div>  
            <div class="jumbotron jumbotron4">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Quote</h2>
                        <p>"{{quote.quote}}"</p>
                        <p class="text-muted">- {{quote.author}}</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}