{% macro displayBlogs(posts) %}

    {% for post in posts %}
        <div class="col-xs-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{post.title | upper}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{post.category | upper}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{post.posted.strftime("%d %b %Y %I:%M %p")}}</h6>
                    <p class="card-text">{{post.text}}</p>                                       

                </div>
            </div>
        </div>

    {% endfor %}

{% endmacro %}