{% extends 'base.html'%}

{% import 'bootstrap/wtf.html' as wtf%}

{% import 'macros.html' as macro%}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 border-b">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{post.title | upper}}</h4>
                    <h5 class="card-subtitle mb-2 text-muted">{{post.category | upper}}</h5>                    
                    <h5 class="card-subtitle mb-2 text-muted">{{post.posted.strftime("%d %b %Y %I:%M %p")}}</h5>
                    <p class="card-text">{{post.text}}</p>  
                    {% if current_user.is_authenticated %} 
                    <button class="btn btn-info"><a href="{{(url_for('main.update_blog', post_id=post.id))}}">Edit</a></button> 
                    <button class="btn btn-danger"><a href="{{(url_for('main.delete_blog', post_id=post.id))}}">Delete</a></button>    
                    {% endif %}                                        
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            {{ wtf.quick_form(comment_form) }}        
        </div><br>
        {% if current_user.is_authenticated %} 
            {{macro.displayCommentsAdmin(comments)}}
        {% else %}
            {{macro.displayComments(comments)}}
        {% endif %}
    </div>
</div>

{% endblock %} 