{% extends 'base.html' %}

{% import 'macros.html' as macro%}

{% block content %}

<div class="container-fluid">
    <div class="row jumbo">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-0 col-md-2"></div>
                <div class="col-xs-12 col-sm-6 carousel-border">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">                            
                        <div class="carousel-inner">
                          <div class="item active">
                            <img src="../static/images/homebackground.jpg" alt="...">
                            <div class="carousel-caption">
                                <p><a href="#">Carousel slide one</a></p>                                                                      
                            </div>
                          </div>
                          <div class="item">
                            <img src="../static/images/homebackground.jpg" alt="...">
                            <div class="carousel-caption">
                                <p><a href="#">Carousel slide one</a></p>                                                                      
                            </div>
                          </div>
                          <div class="item">
                            <img src="../static/images/homebackground.jpg" alt="...">
                            <div class="carousel-caption">
                                <p><a href="#">Carousel slide one</a></p>                                                                      
                            </div>
                          </div>
                          <div class="item">
                            <img src="../static/images/homebackground.jpg" alt="...">
                            <div class="carousel-caption">
                                <p><a href="#">Carousel slide one</a></p>                                                                      
                            </div>
                          </div>                          
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div> 
                    <!-- Carousel -->
                </div>
                <div class="col-xs-0 col-md-1"></div>
                <div class="col-xs-12 col-sm-2">
                    <div class="card author-card">
                        {% if author.prof_pic_path %}
                        <img class="card-img-top" src="{{url_for('static',filename=author.prof_pic_path)}}" alt="Profile picture">
                        {%else%}
                        <img class="card-img-top" src="https://pecb.com/conferences/wp-content/uploads/2017/10/no-profile-picture.jpg" alt="Profile picture">
                        {% endif %}                        
                        <div class="card-body">
                            <h5 class="text-muted">Author profile</h5>
                            {% if author.name %}
                            <h5 class="card-title"> {{author.name| upper}} </h5>
                            {%else%}
                            <h5 class="card-title"> No name for author </h5>
                            {% endif %}
                            {% if author.bio %}
                            <p class="card-text"> {{author.bio}}</p>
                            {%else%}
                            <p class="card-text"> No bio </p>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <p class="card-text"><a href="/update_profile">Edit profile</a></p>
                            {% endif %}                                                            
                        </div>
                      </div>
                </div>
                <div class="col-xs-0 col-md-1"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %} 