{% extends 'base.html'%}

{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 border-b">
            <div class="card">
                <img class="card-img-top" src="{{url_for('static',filename=post.post_pic_path)}}" alt="Profile picture">
                <div class="card-body">
                    <h4 class="card-title">{{post.title | upper}}</h4>
                    <h5 class="card-subtitle mb-2 text-muted">{{post.category | upper}}</h5>                    
                    <h5 class="card-subtitle mb-2 text-muted">{{post.posted.strftime("%d %b %Y %I:%M %p")}}</h5>
                    <p class="card-text">{{post.text}}</p>                                                       
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <h2>Edit post</h2>
            <div class="row border-b">
                <form  action="{{url_for('main.update_blog', post_id=post.id)}}" method="post" enctype = "multipart/form-data">

                    <input type="file"  name="photo" class="form-control" required>
                    <input type="submit">
                </form>
            </div>
            {{ wtf.quick_form(post_form) }}        
        </div><br>        
    </div>
</div>

{% endblock %}